<section>
  <div id='transcription_view'>
    <canvas id='canvas_edit' width="0" height="0"></canvas>
    <%= image_tag(@path, :alt => "image_trans") %>
  </div>
  <div>
    <%= link_to 'Next', images_random_path %>
  </div>
</section>