// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#transcription_view {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
  width: 800px;
  max-height: 500px;
  max-width: 800px;
  background-color: red;
  padding: 0px;
}

#myCanvas {
  margin: 0px;
  padding: 0px;
  position: absolute;
}
